
@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

.a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.p {
  margin: 0 !important;
}

.summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
}

.h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.input,
.button {
  border: 0 none;
  outline: 0 none;
}

.button {
  background-color: #666;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #555;
}
label{
    display: block !important;
}
.img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.price:after,
.subtotal:after,
.subtotal-value:after,
.total-value:after,
.promo-value:after {
  content: '€';
}



main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 960px;
  min-height: 70vh !important;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
  animation: fadeIn .5s ease-out;
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

.li.price:after,
.li.subtotal:after {
  content: '';
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.remove {
  float: right;
  position: absolute;
  text-align: right;
  width: 45%;
  bottom: 1rem;
  right: 0;

}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 65%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
}

aside {
  float: right;
  position: relative;
  width: 30%;
}
.remove > button{
    border: none;
    color: red;
}
.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  /* position: fixed; */
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

.empty-cart {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maison Neue';
  font-weight: 300;
  animation: fadeIn 1.3s ease;
}
.svg__resize{
  height : fit-content;
  margin-top: 3rem;
}
.svg__resize {
  max-width: 60%;
}
svg #oval,
svg #plus,
svg #diamond,
svg #bubble-rounded {
  animation: plopp 4s ease-out infinite;
}
svg #oval:nth-child(1),
svg #plus:nth-child(1),
svg #diamond:nth-child(1),
svg #bubble-rounded:nth-child(1) {
  animation-delay: -240ms;
}
svg #oval:nth-child(2),
svg #plus:nth-child(2),
svg #diamond:nth-child(2),
svg #bubble-rounded:nth-child(2) {
  animation-delay: -480ms;
}
svg #oval:nth-child(3),
svg #plus:nth-child(3),
svg #diamond:nth-child(3),
svg #bubble-rounded:nth-child(3) {
  animation-delay: -720ms;
}
svg #oval:nth-child(4),
svg #plus:nth-child(4),
svg #diamond:nth-child(4),
svg #bubble-rounded:nth-child(4) {
  animation-delay: -960ms;
}
svg #oval:nth-child(5),
svg #plus:nth-child(5),
svg #diamond:nth-child(5),
svg #bubble-rounded:nth-child(5) {
  animation-delay: -1200ms;
}
svg #oval:nth-child(6),
svg #plus:nth-child(6),
svg #diamond:nth-child(6),
svg #bubble-rounded:nth-child(6) {
  animation-delay: -1440ms;
}
svg #oval:nth-child(7),
svg #plus:nth-child(7),
svg #diamond:nth-child(7),
svg #bubble-rounded:nth-child(7) {
  animation-delay: -1680ms;
}
svg #oval:nth-child(8),
svg #plus:nth-child(8),
svg #diamond:nth-child(8),
svg #bubble-rounded:nth-child(8) {
  animation-delay: -1920ms;
}
svg #oval:nth-child(9),
svg #plus:nth-child(9),
svg #diamond:nth-child(9),
svg #bubble-rounded:nth-child(9) {
  animation-delay: -2160ms;
}
svg #oval:nth-child(10),
svg #plus:nth-child(10),
svg #diamond:nth-child(10),
svg #bubble-rounded:nth-child(10) {
  animation-delay: -2400ms;
}
svg #oval:nth-child(11),
svg #plus:nth-child(11),
svg #diamond:nth-child(11),
svg #bubble-rounded:nth-child(11) {
  animation-delay: -2640ms;
}
svg #oval:nth-child(12),
svg #plus:nth-child(12),
svg #diamond:nth-child(12),
svg #bubble-rounded:nth-child(12) {
  animation-delay: -2880ms;
}
svg #oval:nth-child(13),
svg #plus:nth-child(13),
svg #diamond:nth-child(13),
svg #bubble-rounded:nth-child(13) {
  animation-delay: -3120ms;
}
svg #oval:nth-child(14),
svg #plus:nth-child(14),
svg #diamond:nth-child(14),
svg #bubble-rounded:nth-child(14) {
  animation-delay: -3360ms;
}
svg #oval:nth-child(15),
svg #plus:nth-child(15),
svg #diamond:nth-child(15),
svg #bubble-rounded:nth-child(15) {
  animation-delay: -3600ms;
}
svg #oval:nth-child(16),
svg #plus:nth-child(16),
svg #diamond:nth-child(16),
svg #bubble-rounded:nth-child(16) {
  animation-delay: -3840ms;
}
svg #bg-line:nth-child(2) {
  fill-opacity: 0.3;
}
svg #bg-line:nth-child(3) {
  fill-opacity: 0.4;
}
.h3__empty {
  font-size: 2rem;
  line-height: 2rem;
  margin: 3rem 0 0 0;
  padding: 0;
  font-weight: 600;
}
.p__empty {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  line-height: 24px;
  max-width: 80%;
  margin: 1.25rem auto 0 auto;
}
.empty__btn {
   font-family: "Inter", sans-serif;
   position: relative;
   display: inline-block;
   background: #3e3e3f;
   color: #fff;
   border: none;
   border-radius: 0;
   padding: 0.65rem 1rem;
   font-size: 1rem;
   text-transform: uppercase;
   cursor: pointer;
   transform: translateZ(0);
   transition: color 0.3s ease;
   letter-spacing: 0.0625rem;
   margin: 2rem auto;
   border-radius: 6px;
   float: unset !important;
   text-decoration : none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.empty__btn:hover{
color: #fff !important
}
 .empty__btn:hover::before {
	 transform: scaleX(1);
	  color: #fff;
}
 .empty__btn::before {
	 position: absolute;
	 content: "";
	 z-index: -1;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #565657;
	 transform: scaleX(0);
	 transform-origin: 0 50%;
	 transition: transform 0.3s ease-out;
}


@-moz-keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
@-webkit-keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
@-o-keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}






.modalBtn {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
.btnValid {
    display: block;
    float: inherit;
    background: #bded7d;
    color: white;
    text-decoration: none;
    margin: 20px 0 0 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
  }
  .btnValid::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .btnValid:hover::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
  }
  /*--------------------
   Form
   --------------------*/
   .form fieldset {
      border: none;
      padding: 0;
      padding: 10px 0;
      position: relative;
      clear: both;
    }
    .form fieldset.fieldset-expiration {
      float: left;
      width: 60%;
    }
    .form fieldset.fieldset-expiration .select {
      width: 84px;
      margin-right: 12px;
      float: left;
    }
    .form fieldset.fieldset-ccv {
      clear: none;
      float: right;
      width: 86px;
    }
    .form fieldset label {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 5px;
      font-weight: bold;
      font-family: Inconsolata;
    }
    .form fieldset input, .form fieldset .select {
      width: 100%;
      height: 38px;
      color: #333;
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      outline: none !important;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .form fieldset input.input-cart-number, .form fieldset .select.input-cart-number {
      width: 82px;
      display: inline-block;
      margin-right: 8px;
    }
    .form fieldset input.input-cart-number:last-child, .form fieldset .select.input-cart-number:last-child {
      margin-right: 0;
    }
    .form fieldset .select {
      position: relative;
    }
    .form fieldset .select::after {
      content: '';
      border-top: 8px solid #222;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      position: absolute;
      z-index: 2;
      top: 14px;
      right: 10px;
      pointer-events: none;
    }
    .form fieldset .select select {
      appearance: none;
      position: absolute;
      padding: 0;
      border: none;
      width: 100%;
      outline: none !important;
      top: 6px;
      left: 6px;
      background: none;
    }
    .form fieldset .select select :-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    .form button {
      width: 100%;
      outline: none !important;
      background: linear-gradient(180deg, #49a09b, #3d8291);
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      box-shadow: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      margin-top: 90px;
    }
    .form button .fa {
      margin-right: 6px;
    }
    /*--------------------
     Checkout
     --------------------*/
    .checkout {
      margin: 150px auto 30px;
      position: relative;
      width: 460px;
      background: white;
      border-radius: 15px;
      padding: 160px 45px 30px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      z-index: 99;
    }
    /*--------------------
     Credit Card
     --------------------*/
    .credit-card-box {
      perspective: 1000;
      width: 400px;
      height: 280px;
      position: absolute;
      top: -112px;
      left: 50%;
      transform: translateX(-50%);
    }
    .credit-card-box:hover .flip, .credit-card-box.hover .flip {
      transform: rotateY(180deg);
    }
    .credit-card-box .front, .credit-card-box .back {
      width: 400px;
      height: 250px;
      border-radius: 15px;
      backface-visibility: hidden;
      background: linear-gradient(135deg, #bd6772, #53223f);
      position: absolute;
      color: #fff;
      font-family: Inconsolata;
      top: 0;
      left: 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    }
    .credit-card-box .front::before, .credit-card-box .back::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
      background-size: cover;
      opacity: 0.05;
    }
    .credit-card-box .flip {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }
    .credit-card-box .logo {
      position: absolute;
      top: 9px;
      right: 20px;
      width: 60px;
    }
    .credit-card-box .logo svg {
      width: 100%;
      height: auto;
      fill: #fff;
    }
    .credit-card-box .front {
      z-index: 2;
      transform: rotateY(0deg);
    }
    .credit-card-box .back {
      transform: rotateY(180deg);
    }
    .credit-card-box .back .logo {
      top: 185px;
    }
    .credit-card-box .chip {
      position: absolute;
      width: 60px;
      height: 45px;
      top: 20px;
      left: 20px;
      background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
      border-radius: 8px;
    }
    .credit-card-box .chip::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid rgba(128, 128, 128, 0.1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
    }
    .credit-card-box .strip {
      background: linear-gradient(135deg, #404040, #1a1a1a);
      position: absolute;
      width: 100%;
      height: 50px;
      top: 30px;
      left: 0;
    }
    .credit-card-box .number {
      position: absolute;
      margin: 0 auto;
      top: 103px;
      left: 19px;
      font-size: 38px;
    }
    .credit-card-box label {
      font-size: 10px;
      letter-spacing: 1px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 0.5;
      display: block;
      margin-bottom: 3px;
    }
    .credit-card-box .card-holder, .credit-card-box .card-expiration-date {
      position: absolute;
      margin: 0 auto;
      top: 180px;
      left: 19px;
      font-size: 22px;
      text-transform: capitalize;
    }
    .credit-card-box .card-expiration-date {
      text-align: right;
      left: auto;
      right: 20px;
    }
    .credit-card-box .ccv {
      height: 36px;
      background: #fff;
      width: 91%;
      border-radius: 5px;
      top: 110px;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 auto;
      color: #000;
      text-align: right;
      padding: 10px;
    }
    .credit-card-box .ccv label {
      margin: -25px 0 14px;
      color: #fff;
    }
.blackElement{
z-index: 99999999999;
width: 100%;
height: 100vh;

position: absolute;
top: 0;
left: 0;
}
#promo-code{
background-color: none;
}
body{
background-color: none;
}
.bgcNone{
background-color: rgba(0,0,0,0.1);
}
.bgcNoneInput{
background-color: #f2f2f2;
}
.hide {
  display: none;
}



.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.modalGreat {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  animation: showModal 1s ease;
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.closeModal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}













@media screen and (max-width: 660px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
    z-index: 999;
  }
  .price::before{
    content: 'Prix Unitaire : ';
  }
  .subtotal::before{
    content: 'Sous-total : ';
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}